@font-face {
  font-family: 'Lato';
  src: url('../resources/Lato-Regular.ttf') format('truetype');
}

html, body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

/* Navbar CSS*/
.bg-3A3A41 {
  background-color: #3a3a41;
}

.white-text-no-hyperlink {
  color: white;
  text-decoration: none;
  cursor: default;
}

/* Footer CSS*/
.footer-container {
  background-color: #3a3a41;
  padding: 20px;
}

.footer .card {
  background-color: #3a3a41;
  border: none;
  box-shadow: none;
}

.footer .card-title,
.footer .card-text {
  border-top: none;
  color: #ffffff;
  text-align: center;
}

.card-group-container {
  flex-grow: 1;
}

/* Home CSS */
@font-face {
  font-family: 'StagSans-BoldItalic';
  src: url('../resources/StagSans-BoldItalic.ttf') format('truetype');
}

.big-text {
  font-family: 'StagSans-BoldItalic', sans-serif;
  font-size: 80px;
  font-style: italic;
  font-weight: bolder;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .big-text {
    font-size: 60px;
  }
}

@media screen and (max-width: 576px) {
  .big-text {
    font-size: 40px;
  }
}

.red-text {
  color: #fe3434;
}

.white-text {
  color: white;
}

.home-images {
  background:  lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  filter: blur(2px);
}

